<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToolsMax</title>
    <link rel="shortcut icon" type="image" href="./image/logo2.png">
    <link rel="shortcut icon" type="image" href="{{ url_for('static', filename='images/logo.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- bootstrap links -->
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- fonts links -->
</head>
<body>

    <!-- top navbar -->
    <div class="top-navbar">
        <div class="top-icons">
            
            <img src="{{ url_for('static', filename='images/logo.png') }}" width="100px" height="100px" alt="">

            <a href="https://www.instagram.com/?hl=en"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/?lang=en-in"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="other-links">
            <button id="btn-login"><a href="/login">Login</a></button>
            <button id="btn-signup"><a href="/signup">Sign up</a></button>

            
           
                <a  onclick="buynow()"><i class="fa fa-shopping-cart "></i><span class="badge" style="background-color: #000;border-radius: 100%;" id="cartincrement">0</span></a>
       
         
        </div>
    </div>
    <div class="home-section">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container-fluid">
            
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa-solid fa-bars" style="color: white;"></i></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/sales">Sales</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/rent">Rent</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                  </li>
                </ul>
               
               
              </div>
            </div>
          </nav>
        <!-- navbar -->



    <!-- product cards -->
  <div class="container" id="product-cards">
      <div class="row" style="margin-top: 30px;">
          <div class="col-md-3 py-3 py-md-0">
              <div class="card">
                  
                  <img src="{{ url_for('static', filename='images/small-breaker.webp') }}" alt="">

                  <div class="card-body">
                    
                      <center>

                      <h3>small breaker</h3>
                      <h2>MRP-<strike> Rs:7000 </strike>Rs:5999</h2>
                      <p>Designed exclusively for the rental industry, the Classen 18" Compact Aerator (CA-18) is the ideal aerator for moderate and small sized properties.This unit is easy to rent with a fold-down handle, removable weights, tie-down brackets and side lift handles. Classen… Serious lawn care made easy.</p>
                      <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
                       </center>
                  </div>
              </div>
          </div>
          <div class="col-md-3 py-3 py-md-0">
              <div class="card">
                  
                  <img src="{{ url_for('static', filename='salesimages/pro-small-breaker') }}" alt="">

                  <div class="card-body">
                   
                      <center>
                        
                      <h3>
                        PRO small breaker</h3>
                        <h2>MRP-<strike> Rs:7500 </strike>Rs:6499</h2>
                        <P>Legendary performance, uncompromising durability and Easy Steer Technology make lawn aeration quick and easy. Enjoy the productivity of non-stop aeration.This unit is easy to rent with a fold-down handle,  tie-down brackets and side lift handles.</P>
                        <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
                    </center>

                  </div>
              </div>
          </div>
          <div class="col-md-3 py-3 py-md-0">
              <div class="card">
                  <img src="salesimages/Large-Breaker1.webp" alt="">
                  <img src="{{ url_for('static', filename='salesimages/Large-Breaker1.webp') }}" alt="">

                  <div class="card-body">
                      <center><h3>Large-Breaker</h3>
                        <h2>MRP-<strike> Rs:4500 </strike>Rs:3999</h2>
                      <p>Perfect for aerating large open spaces. Holds up to 24 gallons of water to increase weight to 200 lbs. Width of coreing patch 52".This unit is easy to rent with a fold-down handle, removable weights, tie-down brackets and side lift handles. Classen… Serious lawn care made easy.</p>
                      <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
                       </center>
                  </div>
              </div>
          </div>
          <div class="col-md-3 py-3 py-md-0">
              <div class="card">
                  <img src="salesimages/Easy-HammerCart.webp" alt="">
                  <img src="{{ url_for('static', filename='salesimages/Easy-HammerCart.webp') }}" alt="">

                  <div class="card-body">
                      <center>
                      <h3>Easy-HammerCart</h3>
                      <h2>MRP-<strike> Rs:4500 </strike>Rs:4000</h2>
                      <p>Walensee Lawn Spike Aerator, T-Handle, Manual Dethatching and Soil Aerating Tool with Four Iron Spikes, 35.5 Inches, GreyThis unit is easy to rent with a fold-down handle, removable weights, tie-down brackets and side lift handles. Classen… Serious lawn care made easy</p>
                      <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
                       </center>
                  </div>
              </div>
          </div>
      </div>

      <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="salesimages/Demolition-Hammer.webp" alt="">
                <img src="{{ url_for('static', filename='salesimages/Demolition-Hammer.webp') }}" alt="">

                <div class="card-body">
                  
                    <center>

                    <h3> Demolition-Hammer</h3>
                    <h2>MRP-<strike> Rs:7000 </strike>Rs:5999</h2>
                    <p>Designed exclusively for the rental industry, the Classen 18" Compact Aerator (CA-18) is the ideal aerator for moderate and small sized properties.This unit is easy to rent with a fold-down handle, removable weights, tie-down brackets and side lift handles. </p>
                    <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
                </center>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="salesimages/roto-hammer-1.webp" alt="">
                <img src="{{ url_for('static', filename='salesimages/roto-hammer-1.webp') }}" alt="">

                <div class="card-body">
                 
                    <center>
                      
                    <h3>
                      roto-hammer</h3>
                      <h2>MRP-<strike> Rs:7500 </strike>Rs:6499</h2>
                      <P>Legendary performance, uncompromising durability and Easy Steer Technology make lawn aeration quick and easy. Enjoy the productivity of non-stop aeration.This unit is easy to rent with a fold-down handle,  tie-down brackets and side lift handles.Classen… Serious lawn care made easy.</P>
                      <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
                     </center>

                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="salesimages/20lb-Demolition-Hammer.webp" alt="">
                <img src="{{ url_for('static', filename='salesimages/20lb-Demolition-Hammer') }}" alt="">

                <div class="card-body">
                    <center><h3>20lb-Hammer</h3>
                      <h2>MRP-<strike> Rs:4500 </strike>Rs:3999</h2>
                    <p>Perfect for aerating large open spaces. Holds up to 24 gallons of water to increase weight to 200 lbs. Width of coreing patch 52".This unit is easy to rent with a fold-down handle, removable weights, tie-down brackets and side lift handles. Classen… Serious lawn care made easy.</p>
                    <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
                </center>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
            <div class="card">
                <img src="salesimages/roto-hammer-3.webp" alt="">
                <img src="{{ url_for('static', filename='salesimages/roto-hammer-3') }}" alt="">

                <div class="card-body">
                    <center>
                    <h3>roto-hammer 2inch</h3>
                    <h2>MRP-<strike> Rs:4500 </strike>Rs:4099</h2>
                    <p>Walensee Lawn Spike Aerator, T-Handle, Manual Dethatching and Soil Aerating Tool with Four Iron Spikes, 35.5 Inches, GreyThis unit is easy to rent with a fold-down handle, removable weights, tie-down brackets and side lift handles. Classen… Serious lawn </p>
                    <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
                </center>
                </div>
            </div>
        </div>
    </div>
    </div>
 <BR>
  <center><button id="shopnow"><a href="/sales">BACK</a></button></center>
  <!-- product cards -->

    
    




<!-- footer -->
<footer id="footer" style="margin-top: 50px;">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-content">
                    <h3>ToolsMax</h3>
                    <p>One stop for all rent and sales tools</p>
                    
                    <strong><i class="fas fa-phone"></i> Phone: <strong>+91 12345 67890</strong></strong><br>
                    <strong><i class="fa-solid fa-envelope"></i> Email: <strong>toolsmax@gmail.com</strong></strong>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Usefull Links</h4>
                    <ul>
                      <li><a href="/index">Home</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/contact">Contact</a></li>
                      <li><a href="/sales">sales</a></li>
                      <li><a href="/rent">Rent</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <p>One stop all power tools .</p>
                    <ul>
                        <li><a href="/truck">Trucks</a></li>
                        <li><a href="/concrete">Concrete</a></li>
                        <li><a href="/largerent">large tools</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Network</h4>
                    <p></p>
                    <div class="socail-links mt-3">
                        <a href="#" class="twiiter"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#" class="twiiter"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="twiiter"><i class="fa-brands fa-google-plus"></i></a>
                        <a href="#" class="twiiter"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" class="twiiter"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong>ToolsMax</strong>.All Rights Reserved
        </div>
        
    </div>
    </footer>
    <!-- footer -->

<a href="#" class="arrow"><i><img src="./image/up-arrow.png" alt="" width="50px"></i></a>
<script src="{{ url_for('static', filename='main.js') }}"></script>    
</body>

</html>