<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToolsMax</title>
    <link rel="shortcut icon" type="image" href="image/logo2.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- bootstrap links -->
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- fonts links -->
</head>
<body>

    <!-- top navbar -->
    <div class="top-navbar">
        
        <div class="top-icons">
            <img src="images/logo.png" width="100px" height="100px" >
            <a href="https://www.instagram.com/?hl=en"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/?lang=en-in"><i class="fa-brands fa-twitter"></i></a>
        </div>
        
        <div class="other-links">
            <button id="btn-login"><a href="login.html">Login</a></button>
            <button id="btn-signup"><a href="signup.html">Sign up</a></button>
            <a  onclick="buynow()"><i class="fa fa-shopping-cart "></i><span class="badge" style="background-color: #000;border-radius: 100%;" id="cartincrement">0</span></a>
        </div>
    </div>
    <!-- top navbar -->

    <div class="home-section">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container-fluid">
            
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa-solid fa-bars" style="color: white;"></i></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="sales.html">Sales</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="rent.html">Rent</a>
                  </li>
                  
                  <li class="nav-item">
                    <!--<a class="nav-link" href="about.html">About Us</a>-->
                    <a class="nav-link" href="about.html">About Us</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                  </li>
                </ul>
               
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit" id="search-btn">Search</button>
                </form>
              </div>
            </div>
          </nav>
        <!-- navbar -->





        <!-- home content -->
        <section class="home">
            <div class="content">
                <h3>Biggest tools Sale / Rent
                    <br> <span>Up To 50% Off</span>
                </h3>
            </div>
            <div class="img">
                <img src="images/indexpic.avif" alt="">
            </div>
        </section>
        <!-- home content -->
    </div>

    <!-- top cards -->
    <div class="container" id="top-cards">
        <div class="row">
            <div class="col-md-5 py-3 py-md-0">
                <div class="card">
                    <img src="images/excavator.avif" alt="">
                    <center>
                        <h5 class="card-titel">Mini Excavator</h5>
                        <p><strong>₹1,500/-  per hour</strong></p>
                      <a href="rentform.html">  <button>Rent Now</button></a>
                    </center>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="images/hpome4.webp" alt="">
                    <center>
                        <h5 class="card-titel">Breaker</h5>
                        <p><strong>RS 4599/-  per week</strong></p>
                        <a href="rentform.html"><button>Rent Now</button></a>
                    </center>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card" >
                    <img src="images/home5.webp" alt="">
                    <center>                       
                         <h5 class="card-titel">Evaporative Cooling Fan</h5>
                        
                        <p><strong>Rs 2999/- Per day<strong></p>
                        <a href="rentform.html"><button>Rent Now</button></a>
                    </center>

                </div>
            </div>
        </div>
    </div>
    <!-- top cards -->
    

    <!-- banner -->
    <div class="banner">
        <div class="content">
            <h1>Get Up To 50% Off</h1>
            <p></p>
            <div id="bannerbtn">
               <a href="sales.html"> <button>SHOP NOW</button></a>
            </div>
        </div>
    </div>
    <!-- banner -->

    <!-- product cards -->
    <div class="container" id="product-cards">
        <h1 class="text-center">PRODUCTS</h1>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                     <img src="images/Aerators.webp" alt="">
                    <div class="card-body">
                        <center><a href="aerators.html"><h3>Aerators</h3></center></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="images/blowers.webp" alt="">
                    <div class="card-body">
                        <h3>blowers</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="images/chainsaws.webp" alt="">
                    <div class="card-body">
                        <h3>chainsaws</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="images/lawn mowers.webp" alt="">
                    <div class="card-body">
                        <h3>Lawn mowers</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="sales.html" id="viewmorebtn">View More</a>
    <!-- product cards -->

    <!-- product -->
    <div class="container" style="margin-top: 100px;">
    <hr>
</div>
<div class="container">
    <h3 style="font-weight: bold;">PRODUCT</h3>
    <p>Power tools are a type of mechanized tool that is powered by an electric motor or electromagnet and uses a transmission mechanism to drive a working head for operation. They are typically made as handheld, portable devices that are lightweight and convenient to carry. Due to their ability to increase production efficiency several times over compared to hand tools, power tools have been widely used in various fields and have entered household use as well.</p>

    <hr>
</div>
    <!-- product -->


<!-- offer -->
    <div class="container" id="offer">
        <div class="row">
            <div class="col-md-4 py-3 py-md-0">
                <i class="fa-solid fa-cart-shopping"></i>
                <h5>Free Shipping</h5>
                <p>On order over Rs/-5000</p>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <i class="fa-solid fa-truck"></i>
                <h5>Fast Delivery</h5>
                <p>World wide</p>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <i class="fa-solid fa-thumbs-up"></i>
                <h5>Big Choice</h5>
                <p>Of product</p>
            </div>
        </div>
    </div>
<!-- offer -->






<!-- footer -->
<footer id="footer" style="margin-top: 50px;">
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 footer-content">
                <h3>ToolsMax</h3>
                <p>One stop for all rent and sales tools</p>
                
                <strong><i class="fas fa-phone"></i> Phone: <strong>+91 12345 67890</strong></strong><br>
                <strong><i class="fa-solid fa-envelope"></i> Email: <strong>toolsmax@gmail.com</strong></strong>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Usefull Links</h4>
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="sales.html">sales</a></li>
                  <li><a href="rent.html">Rent</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <p>One stop all power tools .</p>
                <ul>
                    <li><a href="truck.html">Trucks</a></li>
                    <li><a href="concrete.html">Concrete</a></li>
                    <li><a href="largerent.html">large tools</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Social Network</h4>
                <p></p>
                <div class="socail-links mt-3">
                    <a href="#" class="twiiter"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="twiiter"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="twiiter"><i class="fa-brands fa-google-plus"></i></a>
                    <a href="#" class="twiiter"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="twiiter"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container py-4">
    <div class="copyright">
        &copy; Copyright <strong>ToolsMax </strong>.All Rights Reserved
    </div>
    
</div>
</footer>
<!-- footer -->

<a href="#" class="arrow"><i><img src="image/up-arrow.png" alt="" width="50px"></i></a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>